.title{
  background-color: darkblue;
  color: lightgray;
  text-align: center;
  padding: 12px;
}
.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: outset 10px darkgray;
  position: relative;
  overflow: hidden;
}
.background,.background1{
  width: 100%
}
.bus{
  width: 20%;
  bottom: 0px;
  left: -150px;
  position: absolute;
  animation-name: slideLeftRight;
  animation-duration: 5s;
  animation-iteration-count: 3;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}
@keyframes slideLeftRight {
  from{transform: translateX(0%);}
  to{transform: translateX(550%);}


}
.cloud1{
  position: absolute;
  top: 10%;
  left: 0%;
  animation-name: slideClouds;
  animation-duration: 6s;
  animation-iteration-count: infinite;


}
.cloud2{
  position: absolute;
  width: 20%;
  top: -15%;
  left: -10%;
  animation: slideClouds 10s infinite;

}
.cloud3{
  position: absolute;
  width: 30%;
  top: 5%;
  left: -20%;
  animation: slideClouds 13s infinite;
}
@keyframes slideClouds {
  0%{transform: translateX(0%); opacity: 0.9; }
  100%{transform: translateX(1200%); opacity: 0.3;}

}
.sun{
  position: absolute;
  width: 30%;
  top: 20%;
  left: 0%;
  animation: slideSun 10s forwards;
}
  @keyframes slideSun {
  0%{transform: translate(0,0) rotate(0deg); opacity: 0.9}
  50%{transform: translate(100px,100px) rotate(100deg);opacity: 0.3;}
  100%{transform: translate(250px,-30px) rotate(-60deg); opacity: 0.7;}
}
.msg{
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 20%;
  right: 20%;
  text-align: center;
  animation: zoomMSG 10s forwards;

}
@keyframes zoomMSG {
  0%{transform: scale(0) translate(0,0);}
  25%{transform: scale(0.3);color: red;}
  50%{transform: scale(2) translate(100px,50px);color: green;}
  75%{transform: scale(0.5); color: orange;}
  100%{transform: scale(0) translate(-500px,-500px);color: blue;}
}
html{
  scroll-behavior: smooth;
}
.horizontalNabs{
  background-color: purple;
  color: lightgray;
  height: 50px;
  overflow: hidden;
}
.horizontalNabs a{
  color: lightgray;
  display: block;
  width: 30%;
  border: ridge 1px lightgray;
  float: right;
  height: 100%;
  text-align: center;
  padding: 10px 0px;
  font-size: 1.2em;
  text-decoration: none;
}
.horizontalNabs a:hover{
  background-color: darkblue;
  text-decoration: underline;

}
.horizontalNabs span{
  font-family: algerian;
  width: 30%;
  height: 100%;
  float: left;
  border-top: ridge 1px lightgray;
  padding: 8px;
  font-size: 1.8em;
}
.verticalNavs{
  width: 30%;
}
.verticalNavs li{
  padding: 10px 20px;
  background-color: orange;
  list-style-type: none;
  border: ridge 1px lightgray;
  text-align: center;
}
.verticalNavs li a{
  text-decoration: none;
  font-size: 1.2em;
  color: lightgray;
}
.verticalNavs li:hover{
  background-color: darkgreen;
  text-decoration: underline;
}
footer{
  text-align: center;
}
.text{
  position: absolute;
  top: 30%;
  bottom: 40%;
  left: 20%;
  right: 20%;
  text-align: center;
  animation: zoomTEXT 5s forwards;
}
@keyframes zoomTEXT {
  0%{transform: scale(0.5) translate(0,0);opacity: 1}
  25%{transform: scale(1);color: green;opacity: 1}
  50%{transform: scale(1.5);color: orange;opacity: 1}
  75%{transform: scale(2); color: red;opacity: 1}
  100%{transform: scale(2);color: Red; opacity: 0;}
}
.background1{
  animation-name: background2;
  animation-delay: 4s;
  animation-duration: 1s;
}
@keyframes background2 {
  0%{filter: invert(0%);}
  25%{filter:  invert(100%);}
  50%{filter:  invert(0%);}
  75%{filter: invert(100%);}
  100%{filter:  invert(0%);}
}
.boom{
  position: absolute;
  top: 50%;
  bottom: 20%;
  left: 40%;
  right: 20%;
  animation: zoomBoom 5s forwards
}
@keyframes zoomBoom {
  0%{transform: scale(0.5);opacity: 0.3}
  25%{transform: scale(1);opacity: 0.5}
  50%{transform: scale(1.5);opacity: 0.8}
  75%{transform: scale(2);opacity: 1}
  100%{transform: scale(2);opacity: 0}
}
.boom1{
  width: 60px;
  top: 0%;
  bottom: 60%;
  left: -1800px;
  right: 60%;
  animation-name: zoomboom1;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom2{
  width: 80px;
  top: 10%;
  bottom: 60%;
  left: -1000px;
  right: 0%;
  animation-name: zoomboom2;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom3{
  width: 20px;
  top: 50%;
  bottom: 40%;
  left: -1700px;
  right: 60%;
  animation-name: zoomboom3;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom4{
  width: 40px;
  top: 60%;
  bottom: 40%;
  left: -1700px;
  right: 30%;
  animation-name: zoomboom4;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom5{
  width: 80px;
  top: 10%;
  bottom: 30%;
  left: -1500px;
  right: 30%;
  animation-name: zoomboom1;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom6{
  width: 60px;
  top: 60%;
  bottom: 10%;
  left: -1500px;
  right: 70%;
  animation-name: zoomboom2;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom7{
  width: 20px;
  top: 0%;
  bottom: 60%;
  left: -1900px;
  right: 60%;
  animation-name: zoomboom3;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom8{
  width: 100px;
  top: 30%;
  bottom: 60%;
  left: -1300px;
  right: 30%;
  animation-name: zoomboom4;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom9{
  width: 100px;
  top: 50%;
  bottom: 50%;
  left:-1400px;
  right: 60%;
  animation-name: zoomboom1;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom10{
  width: 40px;
  top: 20%;
  bottom: 30%;
  left: -1800px;
  right: 60%;
  animation-name: zoomboom3;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom11{
  width: 80px;
  top: 60%;
  bottom: 10%;
  left: -1800px;
  right: 90%;
  animation-name: zoomboom2;
  animation-delay: 5s;
  animation-duration: 5s;
}
.boom12{
  width: 60px;
  top: 90%;
  bottom: 0%;
  left: -1000px;
  right: 0%;
  animation-name: zoomboom4;
  animation-delay: 5s;
  animation-duration: 5s;
}
@keyframes zoomboom1 {
  0%{transform: translateX(2000px);opacity: 0;}
  25%{transform: translateX(2000px);(100%)opacity: 0.5;}
  50%{transform: translateX(2000px);opacity: 1;}
  75%{transform: translateX(2000px);opacity: 0.3;}
  100%{transform: translateX(2000px);opacity: 0.8;}
}
@keyframes zoomboom2 {
  0%{transform: translateX(2000px);opacity: 1;}
  25%{transform: translateX(2000px);opacity: 0.5;}
  50%{transform: translateX(2000px);opacity: 0.8;}
  75%{transform: translateX(2000px);opacity: 0;}
  100%{transform: translateX(2000px);opacity: 0.3;}
}
@keyframes zoomboom3 {
  0%{transform: translateX(2000px);opacity: 0.8;}
  25%{transform: translateX(2000px);opacity: 1;}
  50%{transform: translateX(2000px);opacity: 0.2;}
  75%{transform: translateX(2000px);transform: translateX(100%);opacity: 0.5}
  100%{transform: translateX(2000px);opacity: 0;}
}
@keyframes zoomboom4 {
  0%{transform: translateX(2000px);opacity:0.2;}
  25%{transform: translateX(2000px);opacity: 0.5;}
  50%{transform: translateX(2000px);opacity: 0;}
  75%{transform: translateX(2000px);opacity: 1;}
  100%{transform: translateX(2000px);opacity: 0.8;}
}
.boom1,.boom2,.boom3,.boom4,.boom5,.boom6,.boom7,.boom8,.boom9,.boom10,.boom11,.boom12{
  position: absolute;
}
